body {
    text-align: center;
    background: linear-gradient( rgb(121, 218, 220), rgb(48, 132, 228));
}

.logo{
    width: 15%;
    border-radius: 100%;

}
h3{
    text-align: left;
}
nav{
    position: absolute;
    top: 100px;
    right: 50px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    color: rgb(3, 16, 16);
}
nav a:hover{
    font-weight: bold;
    font-size: 25px;
    color: blue;
    transition: 0.5s;
}
.capa{
    width: 100%;
}
.beneficios{
    text-align: left;
    display: inline-block;
}
.beneficios h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    margin-right: 300px;
    margin-left: 50px;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 35%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #000000;
}